<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.legend.modular_contract_sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".ui.login.LoginActivity" />
    </application>
</manifest>